.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#69aae0), to(#effcff));
  background-image: -webkit-linear-gradient(bottom, #69aae0 0%, #effcff 100%);
  background-image: linear-gradient(to top, #696fe0 0%, #effcff 100%); }

.img-small {
  height: 40px;
  width: 40px; }

.card-body {
  min-height: 100%;
  height: auto; }