.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll; }

.card.chat-room .chat-1 {
  height: 445px; }

.card.chat-room img.rounded-circle {
  border-radius: 50%; }

.card.chat-room img.avatar {
  height: 4rem;
  width: 4rem; }

.card.chat-room .text-small {
  font-size: 0.95rem; }

.card.chat-room .text-smaller {
  font-size: 0.75rem; }

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#69aae0), to(#effcff));
  background-image: -webkit-linear-gradient(bottom, #69aae0 0%, #effcff 100%);
  background-image: linear-gradient(to top, #2b34d1 0%, #9affff 100%); }

::placeholder { 
    color:#bfbfbf;
 }

body {
  padding-top: 60px;
} 