<body class="rare-wind-gradient">
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark indigo fixed-top">       
    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" href="user-page">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          {{group.name}}
      </a>
    </logo>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto pt-3">
            <li class="nav-item">
                <div class="d-flex justify-content-around">
                    <a (click)="navigateAdd()" class="nav-link waves-light border rounded border-white" mdbRippleRadius>Add User</a>        <!-- todo -->
                    
                    <a (click)="leaveGroup()" class="nav-link waves-light border rounded border-white ml-2" mdbRippleRadius>Leave Group</a>   <!-- todo --> 
                </div>
            </li>
            <li><hr style="background-color: white;"/></li>
        </ul>
        <!-- Links -->    
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<div class="transparent-container chat-body">
<div class="card rare-wind-gradient container-fluid transparent mt-7 z-depth-0 chat-room">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row px-lg-2 px-2 px-xs-auto msg-room">
            <!-- Grid column -->
            <div class="col-xs col-sm col-md col-xl pl-md px-lg-auto px-0">
                <div class="chat-message">
                    <!-- ngFor Messages -->
                    <ul #room class="list-unstyled chat-1">
                        <li *ngFor="let message of messages, let i = index" class="d-flex justify-content-between mb-4">
                            <message class="msg-body" [message]="message"></message>       <!--change to message -->                
                        </li>                   
                    </ul>  
                    <!-- ./Messages -->              
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</div> 
</div>
<!-- Input -->
<div class="transparent-container blue-container mb-auto z-depth-0 fixed-bottom">
<div class="transparent card ">
    <div class="d-flex justify-content-between">
        <div class="md-form col-8">
            <input type="text" name="messageText" (keyup.enter)="sendButton()" [(ngModel)]="msgText" class="form-control" style="color: white;" placeholder="Type your Message ...">
        </div>
        <button (click)="sendButton()" class="btn btn-outline-white btn-rounded m-auto float-right waves-effect waves-light ">
            <i class="fa fa-send-o" aria-hidden="true"></i>
        </button>
    </div>
</div>
</div>
</body>
<!-- ./Input -->

