.chat-room {
  height: 100%; }
.msg-room {
  height: 100%; }

.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll; }
.card.chat-room .chat-1 {
  height: 600px; }
.card.chat-room img.rounded-circle {
  border-radius: 50%; }
.card.chat-room img.avatar {
  height: 4rem;
  width: 4rem; }
.card.chat-room .text-small {
  font-size: 0.95rem; }
.card.chat-room .text-smaller {
  font-size: 0.75rem; }

body {
  padding-top: 60px; } 
.msg-body {
  width: 100%; }
.chat-body {
    margin-bottom: 50px; }

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#69aae0), to(#effcff));
  background-image: -webkit-linear-gradient(bottom, #69aae0 0%, #effcff 100%);
  background-image: linear-gradient(to top, #69aae0 0%, #effcff 100%); }
.blue-container {
  background-color: #2f3bd3; }

::placeholder { 
    color:#bfbfbf; }