.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll; }

.card .friend-list li {
  border-bottom: 1px solid #e0e0e0; }

.card .friend-list li:last-of-type {
  border-bottom: none; }

body {
  padding-top: 70px
}    

h1 {
  color: #9e9e9e;
}


