

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand">
          <i class="fa fa-address-book-o" aria-hidden="true"></i>
          Whats Up
      </a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Contacts</a>                      
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius href="createGroup">New Group<span class="sr-only">(current)</span></a>                      
            </li>
        </ul>
        <!-- Links -->

        <!-- Right Float -->
        <ul class="navbar-nav ml-auto nav-flex-icons">    
            <!-- Search Bar -->
            <li>
                <form class="form-inline  waves-light" mdbRippleRadius>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </form>
            </li>
            <!-- Account Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    <i class="fa fa-user-circle" aria-hidden="true"></i><span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Settings</a>        <!-- TODO -->
                    <a (click)="logoutButton()" class="dropdown-item waves-light" mdbRippleRadius>Logout</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Delete Account</a>
                </div>
            </li>
        </ul>
        <!-- Right Float -->
        
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- Form -->
<form class ="container">
    <p class="h1 text-center mb-4">Create Group</p>

    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input type="text" id="form1" class="form-control" mdbActive>
        <label for="form1">Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <textarea type="text" id="form2" class="md-textarea" style="height: 100px" mdbActive></textarea>
        <label for="form2">Members</label>  
    </div>
</form>             <!-- select contacts (w/ ngFor) with add button and add them to members text field -->

<!-- Grid column -->
<main class="container">
<div class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue">
    <ul class="list-unstyled friend-list">
        <li class="p-2">
            <a href="#" class="d-flex justify-content-between">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                <div class="text-small">   
                    <strong>Danny Smith</strong>
                </div>
                <div class="chat-footer">
                    <button type="button" class="btn btn-sm btn-indigo waves-light" mdbRippleRadius>Add</button>
                </div>
            </a>
        </li>
    </ul>
</div>
</main>
<!-- Grid column -->





