

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">
           
    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" href="user-page">
            <i class="fa fa-group" aria-hidden="true"></i>
          Create Group
      </a>
    </logo>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto pt-3">
            <li class="nav-item active">
                <a href="user-page" class="nav-link waves-light m-auto" mdbRippleRadius>Cancel</a>
            </li>
            <li class="nav-item active mt-1">
                <a (click)="createGroup()" class="nav-link waves-light m-auto" mdbRippleRadius>Submit</a>
            </li>
            <li>
                <hr style="background-color:#bfbfbf;">
            </li>
        </ul> 
        <!-- Links -->
        <ul class="navbar-nav ml-auto nav-flex-icons">    
            <!-- Search Bar -->
            <li>
                <form class="form-inline  waves-light" mdbRippleRadius>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </form>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<body>
<!-- Form -->
<form class ="container mt-auto">
    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input [(ngModel)]="groupName" name="groupName" type="text" id="form1" class="form-control" mdbActive>
        <label for="form1">Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <textarea readonly type="text" id="form2" class="md-textarea" style="height: 100px"></textarea>
        <label for="form2">{{groupMemberNames}}</label>  
    </div>
</form>            

<!-- Grid column -->
<div class="container">
<h1 class="h4"><i class="fa fa-address-book" aria-hidden="true"></i> Contacts: </h1>
<div class="white px-2 pb-0">
    <ul class="list-unstyled friend-list mb-0">
        <li class="" *ngFor="let user of users">
            <user-item 
            *ngIf="isSelected(user)"
            [user]="user" 
            (addContact)="addContact($event)">
            </user-item>
        </li>
    </ul>
</div>
</div> 
</body>
<!-- Grid column -->





