<a (click)="openGroupButton()" class="d-flex justify-content-between">
    <img [src]="group.avatar_url" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1 img-small">
    <div class="text-small mt-auto mb-auto mr-auto">   
        <strong>{{group.name}}</strong> 
        <p class="last-message text-muted"><span class="text-muted float-left mr-1">
            <i class="fa fa-envelope" aria-hidden="true"></i></span>
            {{group.lastMessage.msg}}
        </p>
    </div>
    <div class="chat-footer mt-auto mb-auto">
        <button (click)="leaveGroupButton()" type="button" class="btn btn-sm btn-outline-primary waves-effect mt-auto mb-auto">Leave</button>
        <p class="text-smaller text-muted mb-0">{{group.lastMessage.sendTime | date: 'hh:mm dd.MM'}}</p>
    </div>
</a>