<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-lg-6 col-md-12">

    <!--Login-->
    <div class="card">

      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">LogIn</h4>
          <!--Text-->
          <p class="card-text">Log in with an existing account.</p>
          <a (click)="loginButton()" class="btn btn-primary waves-light" mdbRippleRadius>Go</a>
      </div>

    </div>
    <!--/.Login-->
  </div>
  <div class="col-lg-6 col-md-12">
    <!--Register-->
    <div class="card">

      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Register</h4>
          <!--Text-->
          <p class="card-text">Register a new account.</p>
          <a (click)="registerButton()" class="btn btn-primary waves-light" mdbRippleRadius>Go</a>
      </div>

    </div>
    <!--/.Register-->
  </div>
  <!--Grid column-->
</div>