<!--Navigation-->
<header>
    <!-- Intro Section -->
        <div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/architecture.jpg); background-attachment: fixed;">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12 mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-3 mb-5 animated fadeInDown">Whats <a class="indigo-text font-bold">Up</a></h1>
                            <h5 class="font-up mb-5 mt-1 font-bold animated fadeInDown">Chat Client</h5>
                            <a (click)="loginButton()" class="btn btn-light-blue btn-lg animated fadeInDown waves-light" mdbRippleRadius>Log In</a> 
                            <a (click)="registerButton()" class="btn btn-indigo btn-lg animated fadeInDown waves-light" mdbRippleRadius>Sign Up</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Navigation-->

<!--Main-->
<main>
    <div class="container">
        
        <!--Grid row-->
        <div class="row py-5 mt-4">

            <!--Grid column-->
            <div class="col-md-12 text-center">           
                    © 2018 WhatsUp
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main-->